* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 300px;
    border: 3px solid black;
    border-radius: 6px;
    overflow: hidden;
    margin: 20px;
}

.card > img {
    width: 100%;
    height: auto;
}

#cardDescription {
    padding: 10px;
}

.cardTitle,
.firstItem,
.secondItem,
.thirdItem,
footer {
    padding: 10px;
    margin: 10px;
}

footer > nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer > nav > ul > a {
    text-decoration: none;
    color: rgb(24, 21, 243);
}
